 .content{
 float:left;
 width: 60%;
 padding:0 0 0 30px;
}
 .sidebar{
float:right;
width:30%;
padding:10px;
 background: #000000;
 height: 100%;
} 
h1{
 text-align: center;
 border-bottom: 1px solid #000000;
 padding: 0 0 10px 0;
}
#date
{
 color:rgb(0, 0, 0);
 font-size:12px;
 font-style: italic;
 }
 #ch
 {
 color:rgb(0, 0, 0);
 font-size:12px;
 font-style: italic;
 border-bottom : 2px solid rgb(0, 0, 0);
 }
 body{
 background: #000000;
 color:#001aff;
 
 }  

 